* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: monospace;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.flex-box {
  height: auto;
  width: 380px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 5px 8px grey;
  padding: 16px 16px 20px 16px;
}
.flex-box img {
  width: 100%;
  height: 152px;
  margin-bottom: 16px;
}
.flex-box > :nth-child(2) {
  height: 17px;
  width: 60px;
  padding: 3px;
  font-size: 10px;
  font-weight: bold;
  background-color: rgb(187, 187, 187);
  text-align: center;
  border-radius: 8px;
  margin-bottom: 16px;
  color: rgb(0, 102, 255);
}
.flex-box > :nth-child(3) {
  font-size: 18px;
  margin-bottom: 6px;
}
.flex-box > :nth-child(4) {
  padding-bottom: 40px;
  border-bottom: 1px grey solid;
}
.flex-box > :nth-child(5) {
  margin-top: 20px;
  margin-bottom: 20px;
}
